body {
  padding: 0;
  font-family: sans-serif;
  display: block;
  margin-top: 1.5in;
  background-color: #000313;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: -46px;
}
label {
  font-weight: bold;
  margin-bottom: 10px;
}
input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}
button {
  padding: 10px 20px;
  background-color: #01be93;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #039e7a;
}
#status-message {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  color: white;
}

.logo {
  top: 0px;
  position: absolute;
  width: 3.1in;
 }

#logoup {

  display: flex;
  justify-content: center;

} 

.feedback-section {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}
